{% extends "_base.html" %}
{% load tailwind_filters  %}

{% block content %}
<section class="max-w-3xl pt-24 mx-auto"> 
    {% if token_fail %}
        <h2> Bad Token </h2>
    {% else %}
        <h2> Change Password </h2>
    {% endif %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
        </p>
    {% else %}
         <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="mt-2 flex justify-between">
                <div>
                    <button class="button" type="submit">Validate</button>
                    <a class="button" href="{% url 'page_home' %}">Cancel</a>
                </div>
            </div>
        </form>
    {% endif %}
</section>
{% endblock content %}
