{% extends "_base.html" %}

{% load tailwind_filters%}

{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}  
 <div class="box_auth">
     <div class="card_auth">
         <h5 class="title_auth">
            {% trans "Change Password" %}
        </h5>
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="flex items-center justify-center">
                    <a class="button_auth mr-2" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

                    <a class="button_secondary" href="{% url 'page_home' %}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
