{% extends "_base.html" %}

{% load tailwind_filters%}

{% block content %}
<div class="flex flex-col items-center">
<section class="max-w-3xl pt-24 mx-auto">
    <h1 class="title pb-5"> Reset password </h1> 
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="mt-2">
            <button class="" type="submit">Reset Password</button>
            <p><a class="" href="{% url 'account_login' %}">Cancel</a></p>
        </div>
    </form>
    <p>
        Please contact us if you have any trouble resetting your password.
    </p>
</section>
</div>
{% endblock content %}
