{% extends "_base.html" %}

{% load tailwind_filters%}

{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}  
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="mt-2 flex justify-between">
            <div>
                <button class="button" type="submit">Change Password</button>
                 <a class="button" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <a class="button" href="{% url 'page_home' %}">Cancel</a>
            </div>
        </div>
    </form>
{% endblock content %}
