{% extends "_base.html" %}
{% load tailwind_filters  %}

{% block content %}
<div class="box_auth"> 
    <div class="card_auth">
        {% if token_fail %}
            <h5 class="title_auth"> Bad Token </h5>
        {% else %}
            <h5 class="title_auth"> Change Password </h5>
        {% endif %}
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>
                The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
            </p>
        {% else %}
             <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="flex">
                    <button class="button_auth mr-2" type="submit">Validate</button>
                    <a class="button_auth" href="{% url 'page_home' %}">Cancel</a>
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock content %}
