{% extends "_base.html" %}
{% load tailwind_filters%}

{% block content %}
    <div class="box_auth">
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <div class="card_auth">
                    We've emailed you instructions for setting your password,
                    if an account exists with the email you entered. You should receive them shortly. 
                    If you don't receive an email,
                    please make sure you've entered the address you registered with, and check your spam folder.
        </div>
    </div>
{% endblock content %}
