{% extends "_base.html" %}

{% load tailwind_filters%}

{% block content %}
<div class="box_auth">
    <div class="card_auth">
    <h5 class="title_auth"> Reset password </h5> 
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p class="font-tight">
        Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="flex">
            <button class="button_auth mr-2"  type="submit">Reset Password</button>
            <a class="button_auth"  href="{% url 'account_login' %}">Cancel</a>
        </div>
    </form>
    <p class="text-center">
        Please contact us if you have any trouble resetting your password.
    </p>
    </div>
</section>
</div>
{% endblock content %}
