{% extends "_base.html" %}
{% load tailwind_filters %}

{% block content %}
 
<div class="flex flex-col items-center">
    <h1 class="title pb-5"> Register </h1>
    <form method="post">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy}}
    </fieldset>
    <div class="mt-2 flex justify-between">
      <div>
        <button class="button" type="submit"><span class="glyphicon glyphicon-check"></span>   sign up</button>
        <a href="{% url "account_login" %}" class="button">Already have an account ?</a>
      </div>
      <a href="{% url "page_home" %}" class="button">cancel</a>
    </div>
  </form>
</div>

{% endblock %}
