{% extends "_base.html" %}
{% load tailwind_filters %}

{% block content %}
<div class="box_auth_not_fixed"> 
<div class="card_auth">
     <h5 class="p-3 my-5  text-xl flex justify-center items-center font-medium leading-tight">
         Create new account 
     </h5>
      <form method="post">
          {% csrf_token %}
          <fieldset class="form-group">
              {{ form|crispy}}
          </fieldset>
          <div class="mt-4">
            <button class="button_auth w-full" type="submit"><span class="glyphicon glyphicon-check"></span>   Sign up</button>
        <p class="text-center"> Already registered? <a href="{% url "account_login" %}" > Log in here </a> </p>
      </form>
    </div>
</div>
</div>
{% endblock %}
