export DJANGO_SETTINGS_MODULE="core.settings_dev"
export COVERAGE="TRUE"
export DATABASE_NAME=""
export DATABASE_USER=""
export DATABASE_PASSWORD=""
export DATABASE_HOST="localhost"
export DATABASE_PORT="5432"
export MAILJET_SECRET_KEY="b3c4f1a0d2e5f7b8a6c9d2e5f7b8a6c9"
export MAILJET_API_KEY="b3c4f1a0d2e5f7b8a6c9d2e5f7b8a6c9"
export DEFAULT_FROM_EMAIL="miaou@djangocon.africa"