export DJANGO_SETTINGS_MODULE="core.settings_dev"
export COVERAGE="TRUE"
export DATABASE_NAME=""
export DATABASE_USER=""
export DATABASE_PASSWORD=""
export DATABASE_HOST="localhost"
export DATABASE_PORT="5432"
export MAILJET_SECRET_KEY=""
export MAILJET_API_KEY=""
export DEFAULT_FROM_EMAIL="mailjet@djangocon.africa"
export DJANGO_ENV=development