export DJANGO_SETTINGS_MODULE="core.settings_dev"
export COVERAGE="TRUE"
export DATABASE_NAME=""
export DATABASE_USER=""
export DATABASE_PASSWORD=""
export DATABASE_HOST="localhost"
export DATABASE_PORT="5432"