{% extends "_base.html" %}

{% load tailwind_filters %}

{% block content %}

<section class="max-w-3xl pt-24 mx-auto">

    <h1 class="title pb-5">Log in </h1>


    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="mt-2 flex justify-between">
            <div>
                <button class="button" type="submit">Log In</button>
                <a class="button" href="{% url 'password_reset' %}">Forgot password</a>
            </div>
            <a class="button" ref="{% url 'password_reset' %}">Register</a> 
        </div>
    </form>

</section>


{% endblock %}
