<div class="bg-gray-100 rounded-2xl p-6">
    {% if session.speaker %}
    <div class="flex items-center gap-x-2 mb-4">
       <div class="w-12 h-12 rounded-full flex-shrink-0 overflow-hidden">
          {% if session.speaker.photo %}
            <img src="{{ session.speaker.photo.url }}"
                alt="{{ session.speaker.name }}"
                class="h-full w-full object-cover">
          {% else %}
            <div class="w-full h-full bg-gray-300"></div>
          {% endif %}
        </div>
      <div>
        <h3 class="font-medium">
          {{ session.speaker.name }}
        </h3>
      </div>
    </div>
    {% endif %}
    <div class="flex flex-wrap gap-2 mb-4">
      <span class="border px-4 py-2 text-base rounded-full">
        {{ session.session_type_display }}
      </span>
      <span class="border px-4 py-2 text-base rounded-full">
        {{ session.room.name }}
      </span>
      <span class="border px-4 py-2 text-base rounded-full">
        {{ session.track.name }}
      </span>
    </div>
    <h3 class="text-2xl font-medium">
      <a href="{% url 'schedule:session_detail' session.slug %}"
         class="hover:text-blue-600 transition-colors">
        {{ session.title }}
      </a>
    </h3>
</div>