{% load static %}

{% load tailwind_filters %}
{% load partials %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DjangoCon Africa 2025</title>
    <script async src="https://uza.co.tz/api/downloads/js/embeddable.js"></script>  {% comment %} Embeddable Tickets {% endcomment %}
    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"></script>
    <script src="//unpkg.com/alpinejs" defer></script>

    <link rel="stylesheet" type="text/css" href="{% static 'src/tailwind_final.css' %}">
    <script src="{% static 'src/font_awesome_5.js' %}" crossorigin="anonymous"></script>
    <link href="{% static 'images/icon.png' %}" rel="shortcut icon">
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include "partials/_header.html" %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% include "partials/_footer.html" %}
</body>
</html>
