{% load static %}

{% load partials %}

{% partialdef header-menu-item-large %}

{% if link.href %}
<a href="{{link.href}}" class="header_button">
    {{ link.label | safe }}
</a>
{% else %}
<div x-data="{ open: false }" class="relative inline-block">

    <button @click="open = ! open" class="header_button">
        {{ link.label | safe }}
        <i class="fas fa-chevron-right" x-show="! open"></i>
        <i class="fas fa-chevron-down" x-show="open"></i>
    </button>

    <div x-show="open" @click.outside="open = false"
        class="absolute left-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg z-50 flex flex-col gap-2 pt-2 pl-2"
        style="display: none;">

        {% for child in link.children %}
        <a href="{{ child.href }}" class="header_button">{{ child.label }}</a>
        {% endfor %}

    </div>
</div>
{% endif %}

{% endpartialdef %}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DjangoCon Africa 2025</title>
    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"></script>
    <script src="//unpkg.com/alpinejs" defer></script>

    <link rel="stylesheet" type="text/css" href="{% static 'src/tailwind_final.css' %}">
    <script src="{% static 'src/font_awesome_5.js' %}" crossorigin="anonymous"></script>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>


    <!-- Header bar
    To edit the header menu items look at header_menu_items.py
    -->
    <nav>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 pt-5">
            <div class="flex justify-between">
                <a class="hover:cursor-pointer ">
                    <img src="{% static 'images/logo.svg' %}" alt="logo" class="h-8" />
                </a>
                <div class="flex items-center space-x-4">
                    {% for link in header_menu_items %}
                    {% partial header-menu-item-large %}
                    {% endfor %}

                    {% if user.is_authenticated %}
                    {% with link=user_loggedin_link %}
                    {% partial header-menu-item-large %}
                    {% endwith %}
                    {% else %}

                    {% with link=user_not_loggedin_link %}
                    {% partial header-menu-item-large %}
                    {% endwith %}

                    {% endif %}

                </div>
            </div>

        </div>
    </nav>
    <section class="max-w-7xl mx-auto pt-14">
        {% block content %}



        {% endblock %}

        <section class="bg-darkPrimary text-white text-2xl text-center py-8">

            <a target="_blank" href="https://x.com/djcafrica"><i class="fab fa-twitter"></i></a>
            <a target="_blank" href="https://github.com/djangocon/2025.djangocon.africa"><i
                    class="fab fa-github"></i></a>
            <a target="_blank" href="https://fosstodon.org/@djangoconafrica"><i class="fab fa-mastodon"></i></a>
            <a target="_blank" href="https://www.facebook.com/djcafrica/"><i class="fab fa-facebook"></i></a>

        </section>
    </section>

</body>

</html>