<div class="relative" x-data="{ open: false }">
  <button
    @click="open = !open"
    @click.outside="open = false"
    class="flex items-center space-x-2 text-white hover:bg-white/10 px-4 py-2 border border-white/10 rounded-full transition-colors"
  >
    <span>{{ current_language_name }}</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 transform transition-transform"
      :class="{ 'rotate-180': open }"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 9l-7 7-7-7"
      />
    </svg>
  </button>

  <div
    x-show="open"
    x-transition:enter="transition ease-out duration-100"
    x-transition:enter-start="transform opacity-0 scale-95"
    x-transition:enter-end="transform opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-75"
    x-transition:leave-start="transform opacity-100 scale-100"
    x-transition:leave-end="transform opacity-0 scale-95"
    class="absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5"
    style="display: none"
  >
    <div class="py-1" role="menu" aria-orientation="vertical">
      <form action="{% url 'set_language' %}" method="post" class="inline">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}" />

        <button
          type="submit"
          name="language"
          value="en"
          class="w-full text-left {% if current_language == 'en' %}bg-gray-100{% endif %} flex justify-between px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          role="menuitem"
        >
          English {% if current_language == 'en' %}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-primary-600"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            />
          </svg>
          {% endif %}
        </button>
      </form>

      <form action="{% url 'set_language' %}" method="post" class="inline">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}" />
        <button
          type="submit"
          name="language"
          value="fr"
          class="w-full text-left {% if current_language == 'fr' %}bg-gray-100{% endif %} flex justify-between px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          role="menuitem"
        >
          French {% if current_language == 'fr' %}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-primary-600"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            />
          </svg>
          {% endif %}
        </button>
      </form>
    </div>
  </div>
</div>
