{% extends "_base.html" %}
{% load static %}
{% load partials %}
{% load i18n %}
{% load sponsors news %}
{% load date_filters %}

{% block content %}

<main class="bg-white">
  <section
    class="bg-deepTeal pt-20 md:pt-[104px] pb-8 md:pb-12 bg-dotted-world-map bg-no-repeat bg-cover"
  >
    <div class="dj-container text-center">
      <h1 class="mb-6 text-white">
        DJANGOCON
        <br />
        AFRICA 2025
      </h1>
      <p class="text-[20px] leading-8 md:max-w-2xl mx-auto text-white">
        {% blocktranslate %}
        Join us for 5 days of inspiration, education and networking at DjangoCon
        Africa from 11 - 15 August, 2025 in
        {% endblocktranslate %}
        <a
          href="https://maps.app.goo.gl/TqQ9QLonUdRcdnXg8"
          target="_blank"
          class="underline"
          >Arusha, Tanzania</a
        >
      </p>
    </div>
    <div class="dj-container flex items-center justify-center flex-col gap-4 md:flex-row pt-6">
        <a
            href="{% url 'tickets' %}"
            class="btn-secondary w-full md:w-fit"
        >
            {% translate "Secure a spot" %}
        </a>
        <a
            href="{% url 'sponsor_us' %}"
            class="btn-primary border border-white/10 w-full md:w-fit hover:bg-white/10"
          >
            {% translate "Sponsor us" %}
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>
  </section>
  <section class="relative">
    <div class="absolute top-0 left-0 w-full h-1/2 bg-deepTeal"></div>
    <div class="absolute top-1/2 left-0 w-full h-1/2 bg-white"></div>
    <div class="dj-container">
      <div class="relative overflow-hidden rounded-lg pt-[56.25%] z-10">
        <iframe
          class="absolute top-0 left-0 w-full h-full"
          src="https://www.youtube.com/embed/ohTNwfVmx0A?autoplay=1"
          title="DjangoCon Africa 2025 Preview"
          frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </section>
  <section class="bg-white">
    <div class="dj-container pt-16 md:pt-10">
    <div class="md:border rounded-t-2xl flex gap-x-8 gap-y-6 flex-col md:flex-row">
      <div class="md:w-1/2 m-auto md:py-10 md:pl-10 lg:pr-10">
        <h2 class="mb-4">{% translate "First DjangoCon Africa" %}</h2>
        <p class="mb-4">
          {% blocktranslate %}
          In 2023 we hosted the first ever DjangoCon Africa. DjangoCon Africa
          took place in Zanzibar, Tanzania 6th-11th November 2023.
          {% endblocktranslate %}
          <br /><br />
          {% blocktranslate %}
          We had roughly 200 attendees, of whom 103 were women. The attendees
          represented at least 22 countries from around the world.
          {% endblocktranslate %}
          <br /><br />
          {% blocktranslate %}
          We held 26 talks on topics covering programming, society, careers,
          education, disability, agriculture - the full range of topics you’d
          expect at a DjangoCon, with the African perspective often at the
          forefront.
          {% endblocktranslate %}
        </p>
        <div class="flex flex-col gap-4 md:flex-row">
            <a
              href="{% url 'tickets' %}"
              class="btn-primary"
            >
              {% translate "Secure a spot" %}
            </a>
            <a
              href="https://2023.djangocon.africa/news/report/"
              target="_blank"
              class="btn-secondary border border-black/10 hover:border-black/40"
            >
              {% translate "Read the 2023 report" %}
              <i class="fas fa-chevron-right"></i>
            </a>
        </div>
      </div>
      <div class="md:w-1/2">
        <img
          src="{% static 'images/first-djangocon-africa.png' %}"
          alt="DjangoCon Africa 2023"
          class="w-full h-full object-cover rounded-2xl md:rounded-tl-none md:rounded-b-none"
        />
      </div>
    </div>
    </div>
  </section>
  <div class="dj-container ">
    <div class="md:px-6 pb-4 md:pb-6 pt-16 md:pt-12 md:border-x">
      <h2 class="md:max-w-[447px]">
        {% translate "What will be happening at DjangoCon Africa" %}
      </h2>
    </div>
  </div>
  <section class="dj-container pb-10">
    <div class="grid md:grid-cols-2 lg:grid-cols-3">
      <div
        class="border pb-6 md:pt-6 md:px-6 border-x-0 md:border-x-[1px] border-t-0 md:border-t-[1px]"
      >
        <h3 class="mb-4">💬 {% translate "Talks" %}</h3>
        <p>
          {% blocktranslate %}
          Three days of talks, on programming, technology, careers, society and
          business, with speakers from across the world.
          {% endblocktranslate %}
        </p>
      </div>
      <div
        class="border py-6 md:px-6 border-x-0 md:border-x-[1px] -mt-[1px] -ml-[1px]"
      >
        <h3 class="mb-4">🖥️ {% translate "Workshops and tutorials" %}</h3>
        <p>
          {% blocktranslate %}
          Hands-on training and learning sessions, led by experts in the field.
          Details to be published soon.
          {% endblocktranslate %}
        </p>
      </div>
      <div
        class="border py-6 md:px-6 border-x-0 md:border-x-[1px] -mt-[1px] -ml-[1px]"
      >
        <h3 class="mb-4">🤝 {% translate "Collaboration" %}</h3>
        <p>
          {% blocktranslate %}
          Work together on code, and contribute to major projects - including
          Django itself.
          {% endblocktranslate %}
        </p>
      </div>
      <div
        class="border py-6 md:px-6 border-x-0 md:border-x-[1px] -mt-[1px] -ml-[1px] lg:rounded-bl-2xl"
      >
        <h3 class="mb-4">👩‍💻 Django Girls</h3>
        <p>
          {% blocktranslate %}
          A training workshop aimed at women, providing an introduction to web
          application development. Tens of thousands of women across the world
          have had their introduction to Django through this hugely successful
          programme.
          {% endblocktranslate %}
        </p>
      </div>
      <div
        class="border pt-6 pb-6 md:px-6 border-x-0 md:border-x-[1px] border-b-0 md:border-b-[1px] -mt-[1px] -ml-[1px] rounded-bl-2xl lg:rounded-bl-none"
      >
        <h3 class="mb-4">🔎 {% translate "Discovery" %}</h3>
        <p>
          {% blocktranslate %}
          DjangoCon Africa is an opportunity to discover places and people as
          well as technology. It will bring together participants from across
          Africa and the rest of the world, for mutual understanding of
          contexts, challenges and opportunities.
          {% endblocktranslate %}
        </p>
      </div>

      <div
        class="bg-gray-100 rounded-2xl md:rounded-t-none md:rounded-bl-none border-x-0 md:border-x-[1px] md:ml-[-1px] border-b-0 md:border-b-[1px] p-20"
      >
        <div class="flex flex-col gap-4 justify-center items-center">
          <h3 class="font-bold text-center text-deepTeal sm:w-[280px]">
            {% blocktranslate %}
                Pumped for DjangoCon Africa? Secure a spot now!
            {% endblocktranslate %}
          </h3>
          <a
              href="{% url 'tickets' %}"
              class="btn-primary"
          >
              {% translate "Get tickets" %}
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="py-10">
    <div class="dj-container">
      <h2 class="mb-4">{% translate "Our Schedule" %}</h2>
      <div class="border rounded-2xl overflow-hidden">
        <div class="md:hidden divide-y">
          {% for row in schedule %}
            <div class="p-6 space-y-4">
              {% for cell in row %}
                <p class="{% if cell.0|is_past %}line-through text-gray-400{% endif %}">
                  <span class="text-neutral-400 font-medium">{{ cell.0|format_date }}:</span>
                  <span>{% translate cell.1 %}</span>
                </p>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
        <div class="hidden md:block">
          <div class="grid grid-cols-2">
            <div class="divide-y">
              {% for row in schedule|slice:":4" %}
                <div class="p-6 space-y-4">
                  {% for cell in row %}
                    <p class="{% if cell.0|is_past %}line-through text-gray-400{% endif %}">
                      <span class="text-neutral-400 font-medium">{{ cell.0|format_date }}:</span>
                      <span>{%  translate cell.1 %}</span>
                    </p>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
            <div class="divide-y border-l">
              {% for row in schedule|slice:"4:" %}
                <div class="p-6 space-y-4">
                  {% for cell in row %}
                    <p class="{% if cell.0|is_past %}line-through text-gray-400{% endif %}">
                      <span class="text-neutral-400 font-medium">{{ cell.0|format_date }}:</span>
                      <span>{%  translate cell.1 %}</span>
                    </p>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-10">
    <div class="dj-container">
      <h2 class="mb-4">{% translate "Sponsors"%}</h2>
      <p class="mb-4 md:max-w-xl">
        {% blocktranslate %}
        DjangoCon Africa is made possible by the generous sponsorships of
        various teams and organisations around the world.
        {% endblocktranslate %}
      </p>

        <div class="flex flex-col gap-4 md:flex-row">
              <a
                href="mailto:hello@djangocon.africa?subject=Sponsor DjangoCon Africa 2025"
                class="btn-primary border border-white/10 w-full md:w-fit"
                >
                {% translate "Sponsor us" %}
              </a>
            <a
              href="{% url 'sponsor_us' %}"
              class="btn-secondary border border-black/10 hover:border-black/40"
            >
              {% translate "Learn more" %}
              <i class="fas fa-chevron-right"></i>
            </a>
        </div>
      {% mini_sponsors %}
    </div>
  </section>
  {% mini_latest_news %}
</main>

{% endblock %}
