{% extends "_base.html" %}
{% load static %}
{% load partials %}
{% load i18n %}

{% block content %}

<main>
  <section
    class="bg-deepTeal pt-[104px] pb-16 bg-dotted-world-map bg-no-repeat bg-cover"
  >
    <div class="dj-container text-center">
      <h1 class="mb-6 text-white">
        DJANGOCON
        <br />
        AFRICA 2025
      </h1>
      <p class="text-[20px] leading-8 md:max-w-2xl mx-auto text-white">
        Join us for 5 days of inspiration, education and networking at DjangoCon
        Africa from 25-31 August, 2025 in
        <a
          href="https://maps.app.goo.gl/TqQ9QLonUdRcdnXg8"
          target="_blank"
          class="underline"
          >Arusha, Tanzania</a
        >
      </p>
    </div>
  </section>
  <section class="bg-deepTeal">
    <div class="dj-container -mb-32">
      <div
        class="relative overflow-hidden rounded-lg"
        style="padding-top: 56.25%"
      >
        <iframe
          class="absolute top-0 left-0 w-full h-full"
          src="https://www.youtube.com/embed/ohTNwfVmx0A?autoplay=1"
          title="DjangoCon Africa 2025 Preview"
          frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </section>
  <section class="bg-white pt-44 pb-20">
    <div class="dj-container flex gap-x-12 gap-y-6 flex-col md:flex-row">
      <div class="md:w-1/2 mx-auto text-black">
        <h2 class="mb-4">First DjangoCon Africa</h2>
        <p class="mb-4">
          In 2023 we hosted the first ever DjangoCon Africa. DjangoCon Africa
          took place in Zanzibar, Tanzania 6th-11th November 2023.
          <br /><br />
          We had roughly 200 attendees, of whom 103 were women. The attendees
          represented at least 22 countries from around the world.
          <br /><br />
          We held 26 talks on topics covering programming, society, careers,
          education, disability, agriculture - the full range of topics you’d
          expect at a DjangoCon, with the African perspective often at the
          forefront.
        </p>
        <a
          href="https://2023.djangocon.africa/news/report/"
          target="_blank"
          class="bg-deepTeal text-white rounded-full h-[50px] w-fit px-6 flex items-center justify-center gap-x-1 hover:bg-deepTeal/90"
        >
          Read the 2023 report
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
      <div class="md:w-1/2">
        <img
          src="{% static 'images/first-djangocon-africa.png' %}"
          alt="DjangoCon Africa 2023"
          class="w-full h-full object-cover rounded-lg"
        />
      </div>
    </div>
  </section>
  <section class="dj-container pb-10">
    <h2 class="md:max-w-[447px] mb-4 md:mb-8">
      What will be happening at DjangoCon Africa
    </h2>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3">
      <div
        class="border pb-6 md:pt-6 md:px-6 border-x-0 sm:border-x-[1px] border-t-0 sm:border-t-[1px]"
      >
        <h3 class="mb-4">💬 Talks</h3>
        <p>
          Three days of talks, on programming, technology, careers, society and
          business, with speakers from across the world.
        </p>
      </div>
      <div
        class="border py-6 md:px-6 border-x-0 sm:border-x-[1px] -mt-[1px] -ml-[1px]"
      >
        <h3 class="mb-4">🖥️ Workshops and tutorials</h3>
        <p>
          Hands-on training and learning sessions, led by experts in the field.
          Details to be published soon.
        </p>
      </div>
      <div
        class="border py-6 md:px-6 border-x-0 sm:border-x-[1px] -mt-[1px] -ml-[1px]"
      >
        <h3 class="mb-4">🤝 Collaboration</h3>
        <p>
          Work together on code, and contribute to major projects - including
          Django itself.
        </p>
      </div>
      <div
        class="border py-6 md:px-6 border-x-0 sm:border-x-[1px] -mt-[1px] -ml-[1px]"
      >
        <h3 class="mb-4">👩‍💻 Django Girls</h3>
        <p>
          A training workshop aimed at women, providing an introduction to web
          application development. Tens of thousands of women across the world
          have had their introduction to Django through this hugely successful
          programme
        </p>
      </div>
      <div
        class="border pt-6 md:pb-6 md:px-6 border-x-0 sm:border-x-[1px] border-b-0 sm:border-b-[1px] -mt-[1px] -ml-[1px]"
      >
        <h3 class="mb-4">🔎 Discovery</h3>
        <p>
          DjangoCon Africa is an opportunity to discover places and people as
          well as technology. It will bring together participants from across
          Africa and the rest of the world, for mutual understanding of
          contexts, challenges and opportunities.
        </p>
      </div>
    </div>
  </section>
  <section class="py-10">
    <div
      class="dj-container flex gap-x-6 lg:gap-x-10 xl:gap-x-12 flex-col md:flex-row gap-y-9"
    >
      <div class="w-full md:w-1/2 md:sticky top-10 self-start">
        <h2 class="mb-4">Sponsors</h2>
        <p class="mb-4">
          DjangoCon Africa is made possible by the generous sponsorships of
          various teams and organisations around the world.
        </p>

        <a
          href="https://2023.djangocon.africa/news/report/"
          target="_blank"
          class="bg-deepTeal text-white rounded-full h-[50px] w-fit px-6 flex items-center justify-center gap-x-1 hover:bg-deepTeal/90"
        >
          Sponsor us
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
      <div class="w-full md:w-1/2 flex flex-col gap-y-10">
        <div>
          <h3 class="mb-3">💎 Diamond</h3>
          <div class="grid grid-cols-4 md:grid-cols-3 xl:grid-cols-4 gap-5">
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
          </div>
        </div>
        <div>
          <h3 class="mb-3">💛 Gold</h3>
          <div class="grid grid-cols-4 md:grid-cols-3 xl:grid-cols-4 gap-5">
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
          </div>
        </div>
        <div>
          <h3 class="mb-3">🪙 Silver</h3>
          <div class="grid grid-cols-4 md:grid-cols-3 xl:grid-cols-4 gap-5">
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
          </div>
        </div>
        <div>
          <h3 class="mb-3">🔶 Bronze</h3>
          <div class="grid grid-cols-4 md:grid-cols-3 xl:grid-cols-4 gap-5">
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
          </div>
        </div>
        <div>
          <h3 class="mb-3">🫶🏽 Opportunity Grant</h3>
          <div class="grid grid-cols-4 md:grid-cols-3 xl:grid-cols-4 gap-5">
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
          </div>
        </div>
        <div>
          <h3 class="mb-3">🙏🏾 Special</h3>
          <div class="grid grid-cols-4 md:grid-cols-3 xl:grid-cols-4 gap-5">
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
          </div>
        </div>
        <div>
          <h3 class="mb-3">🫂 Community</h3>
          <div class="grid grid-cols-4 md:grid-cols-3 xl:grid-cols-4 gap-5">
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
          </div>
        </div>
        <div>
          <h3 class="mb-3">🤝 Partners</h3>
          <div class="grid grid-cols-4 md:grid-cols-3 xl:grid-cols-4 gap-5">
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
            <img
              src="{% static 'images/sponsors/caktus.png' %}"
              alt="Sponsor logo"
              class="aspect-square rounded-lg"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="dj-container md:pt-20 flex justify-center items-center">
    <a
      href="https://2025.djangocon.africa/news/announcing-djangocon-africa-2025/"
      target="_blank"
      class="md:max-w-xl"
    >
      <h2 class="mb-6 md:text-center">Latest news</h2>
      <div class="md:border md:p-6">
        <h3 class="mb-4">Introducing DjangoCon Africa 🌍 2025 🎉</h3>
        <p class="mb-6">
          The African Django community is excited to announce the first
          DjangoCon Africa event, taking...
        </p>
        <p>12 Jan • By Team</p>
      </div>
    </a>
  </section>
</main>

{% endblock %}
