{% extends "_base.html" %}
{% load static %}
{% load partials %}
{% load i18n %}

{% block content %}

<div class="dj-container pt-[72px] md:pt-[88px] pb-16">
  <h1 class="text-center">{% translate "Speaking at DjangoCon Africa" %}</h1>
  <div class="flex flex-col gap-y-8 md:max-w-[740px] mx-auto pt-10 lg:pt-8">
        <p>{% translate "Welcome Back to DjangoCon Africa 2025, we are very much excited just as you are!" %}</p>
        <p>
            {% blocktranslate %}
                To get started, do well to check Proposal guidelines where you will find the steps and guidelines to 
                submit your proposal. Keep in mind that there is a limit of 5 proposal submissions per person.
            {% endblocktranslate %}
        </p>

    <h2>
        {% translate "Why Speak at DjangoCon Africa" %}
    </h2>

    <ul>
        <li>{% translate "Share new tools, resources, experiences, practices, and ideas with the Django community and beyond." %}</li>
        <li>{% blocktranslate %}Connect with other Django professionals, expand your network, and build relationships that can benefit your 
            career and personal growth.{% endblocktranslate %}</li>
        <li>{% blocktranslate %}Your talk will be professionally recorded and made available on our official YouTube channel for a global 
            audience to access and learn from. (optional){% endblocktranslate %}</li>
        <li>{% blocktranslate %}A professional photographer will be present to capture high-quality images of your talk, providing a lasting 
            visual record of your presentation. (Optional){% endblocktranslate %}</li>
        <li>{% translate "Reach a wide audience and share your insights, experiences, and discoveries with the Django community and beyond." %}</li>
        <li>{% translate "Give back to Django Community." %}</li>
    </ul>

    <h2>{% translate "Selection Process" %}</h2>
    <p>{% blocktranslate %}
        Reviewing submissions for DjangoCon Africa can be a challenging task, with many excellent talks and tutorials vying 
        for a limited number of slots. To ensure transparency and fairness, we're committed to making our selection process 
        clear to all submitters and attendees. Our main approach is community driven and it involves a team of volunteers 
        and organizers who will review submissions anonymously and collectively decide which ones to feature.
        {% endblocktranslate %}  
    </p>
    
    <p>{% blocktranslate %} 
        Also we will be sharing our guidelines and reviewing process, we aim to provide a better understanding of what attendees 
        can expect from the conference and why certain talks are selected. Additionally, we may prioritize speakers from underrepresented 
        or marginalized groups to amplify the conference's social impact.
        {% endblocktranslate %} 
    </p>
     
    <p>{% blocktranslate %}
        We'll document our selection process on this website and announce updates via our social media channels, 
        including <a href="https://twitter.com/djcafrica">Twitter/X</a>, <a href="https://linkedin.com/company/djcafrica">LinkedIn</a>, 
        <a href="https://instagram.com/djcafrica">Instagram</a>, <a href="https://facebook.com/djcafrica">Facebook</a>, 
        <a href="https://fosstodon.org/@djangoconafrica/111065411415401242">Mastodon</a>, 
        <a href="https://bsky.app/profile/djcafrica.bsky.social">Bluesky</a>.
        {% endblocktranslate %}  
    </p>
    
    <h2>{% translate "Presentation Types" %}</h2>

    {% translate "The following are the presentation types that will be accepted in Django Africa Conference 2025" %}

    <h3>{% translate "Talk" %}</h3>
    <p class="font-bold">{% translate "Length: 20 - 45mins" %}</p>
    <p>
    {% blocktranslate %}
    We're seeking innovative and captivating talks that cater to the diverse interests of our attendees. While Django 
    expertise is a plus, we're also interested in talks that explore broader themes, such as community, web development, 
    user experience, Education, Open Source and more.
    {% endblocktranslate %}
    </p>
    <p>
    {% blocktranslate %}
        No Worries if you're a first time speaker - we're excited to provide a platform for you to 
        share your ideas and kickstart your speaking journey!
    {% endblocktranslate %}
    </p>

   <h3>{% translate "Workshop and Tutorials" %}</h3>
    <p class="font-bold">{% translate "Length: 1.5 - 2hrs" %}</p>
    <p>
        {% blocktranslate %}
        This year we are open to any topic as long as it will develop or improve the experiences and knowledge of our attendee’s.
        {% endblocktranslate %}
    </p>
    <p>
        {% blocktranslate %}
        Workshop and Tutorials can be targeted at any experience level, just be sure to indicate clearly what you expect your 
        students to already know or have experience with in your proposal!
        {% endblocktranslate %}
    </p>
    <p>
        {% blocktranslate %}
        Still unsure if you should submit? Not only will we cover your DjangoCon ticket, we will provide you with the right 
        platform to make it possible.
        {% endblocktranslate %}
    </p>


    <h3>{% translate "Lightning Talks" %}</h3>
    <p class="font-bold">{% translate "Length: 5 - 10mins" %}</p>
    <p>
        {% translate "Not ready for a full talk or tutorial?" %}
    </p>
    
    <p>
        {% translate "Want to take the leap and give your first conference talk?" %}
    </p>

    <p>
        {% blocktranslate %}
        Our lightning talks are the perfect opportunity! These short, 5-minute talks (with or without slides) are all about 
        sharing your ideas and experiences with the community. Don't be nervous or shy - remember, it's just 5 minutes! 
        We'll have a dedicated lightning talk slot at the end of each day during the conference. Sign-ups will take place 
        during the event, so be sure to mark your calendar and join us!
        {% endblocktranslate %}
    </p>

    <h2>{% translate "Proposal Guidelines" %}</h2>
    <ul>
        <li>{% translate "We will appreciate it more, if you Submit your talk in time." %}</li>
        <li>{% translate "All talks will be in English." %}</li>
        <li>{% blocktranslate %} Read, understand, and agree to our Code of Conduct. As a speaker, your talk and your 
            slides will need to follow our Code of Conduct – if you are not sure what that means, or have some issue 
            you are not sure about, just ask us or email hello@djangocon.africa.{% endblocktranslate %}</li>
        <li>{% blocktranslate %} Make sure you spend some time and effort on your proposal. Typos, lack of formatting, and 
            half finished sentences are unnecessary and make your proposal hard to be taken seriously. 
            (Ask a mentor, Check the links in our speakers resources, or a friend to help if this is difficult for you.)
            {% endblocktranslate %}</li>
        <li>{% blocktranslate %} Don't overdo it – two or three paragraphs are plenty of space to give us an idea of your talk, 
            we don't require an entire thesis.{% endblocktranslate %}</li>
        <li>{% blocktranslate %} Original content: Since we have little space and lots of submissions, we prefer original content. 
            If your talk is so awesome that you want to give it in multiple places, we'd ask you to consider putting a new spin on it, 
            if at all possible.{% endblocktranslate %}</li>
        <li>{% translate "Please do well to minimise the use of AI or other technological assistance as much as possible." %}</li>
    </ul>

    <h2>{% translate "Suggested Topics" %}</h2>
    <h3>Django</h3>
    <ul>
        <li>{% translate "Django internals and challenges in modern web development." %}</li>
        <li>{% translate "Wild ideas, clever hacks, surprising or cool use cases." %}</li>
        <li>{% translate "Improving Django and Python developers’ lives." %}</li>
        <li>{% translate "Pushing Django to its limits." %}</li>
        <li>{% blocktranslate %} The Django and Python community, culture, history, past, present & future, the why, 
            the who and the what of it all.{% endblocktranslate %}</li>
        <li>{% translate "Security" %}</li>
        <li>{% translate "Emerging technologies and industries – AI, Blockchain, Open Source etc." %}</li>
        <li>{% translate "Diversity, Equity and Inclusion" %}</li>
        <li>{% translate "Whatever you deem appropriate - it’s your conference after all" %}</li>
    </ul>


    <h3>Ubuntu</h3>
    <p>{% translate "This year's edition will feature a new Pan-African open source event running alongside DjangoCon Africa - UbuCon at DjangoCon Africa!" %}</p>

    <p>
        {% blocktranslate %}
        We invite proposals on any of these topics, and more: Desktop, Cloud and Infrastructure, Linux Containers and 
        Container Orchestration, DevOps, Virtualisation, Automation, Networking Windows Subsystem for Linux(WSL), 
        IoT, Embedded, Robotics, Appliances, Packaging, Documentation, QA and Bug triage, Security, Compliance and Kernel, 
        Data and AI, Video, Audio and Image editing, Open source tools, Community, Diversity, Local Outreach and Social Context.
        {% endblocktranslate %}
    </p>

    <h2>{% translate "Speaker Perks" %}</h2>

    <p>
        {% blocktranslate %}
        As a speaker at DjangoCon Africa, you will enjoy premium access to our complimentary dinner and prioritised in Opportunity Grants. 
        However, if you need financial assistance of any sort to attend the conference, you will need to apply for an opportunity grant 
        separately and mention that you applied during your speaking application or proposal.
        Please note that speakers are considered as first choice in issuing grants across.
        {% endblocktranslate %}
    </p>

    <h2>{% translate "Company Support" %}</h2>

    <p>
        {% blocktranslate %}
        If your company or employer has supported your talk preparation, such as allowing you to work on it during office hours, you're welcome 
        to acknowledge their support during your presentation. However, please ensure that the talk's content remains unbiased and focused on 
        sharing your expertise, rather than promoting commercial interests.
        {% endblocktranslate %}
    </p>

    <p>
        {% blocktranslate %}
        Don't let self-doubt hold you back - DjangoCon Africa is eager to showcase your unique perspective and expertise, and reading 
        inspiring stories from past speakers can help boost your confidence and encourage you to submit your proposal.
        {% endblocktranslate %}
    </p>

    <p>
        {% blocktranslate %}
        If you would like to ask a question, you are always welcome to write the Content Committee:  
        <a href="mailto:content@djangocon.africa">content@djangocon.africa</a>.
        {% endblocktranslate %}
    </p>
    <div>
</div>

{% endblock %}