{% extends "_base.html" %}
{% load partials %}
{% load i18n %}

{% block content %}

<div class="dj-container pt-[72px] md:pt-[88px] pb-16">
    <h1 class="text-center">{% translate "Purchase a Ticket" %}</h1>
    <div class="flex flex-col gap-y-8 md:max-w-[740px] mx-auto pt-10 lg:pt-8">
        <p>{% translate "Welcome to DjangoCon Africa 2025 Ticket Portal!" %}</p>
        <p>
            {% blocktranslate %}
                Ready to join us at DjangoCon Africa 2025? Select your ticket type below to secure your spot. 
                Early bird tickets are available for a limited time, so don't miss out on the special rates.
            {% endblocktranslate %}
        </p>

        <!-- Conditional UZA Products Embed -->
        {% if uza_api_key %}
            <div id="uza-container" class="w-full max-w-[1200px] mx-auto mt-4 md:mt-8 px-4 md:px-0" style="height: 95vh; min-height: 500px; max-height: 800px;">
                <uza-products
                    product-catalog-id="12345"
                    public-api-key={{ uza_api_key }}
                    source="#web"
                    refCode="#bo"
                    customer-email=""
                    __locale-override="en"ex
                ></uza-products>
            </div>
        {% else %}
            <div class="w-full max-w-[1200px] mx-auto mt-4 md:mt-8 px-4 md:px-0 text-center">
                <p class="text-lg font-semibold">Coming soon!</p>
            </div>
        {% endif %}

        <h3 class="text-xl font-bold mt-6 mb-4">{% translate "Purchase via WhatsApp" %}</h3>
        <p class="mb-4">{% translate "Click the link below to start your ticket purchase process on WhatsApp:" %}</p>
        <a href="https://wa.me/message/W32U6NBW654NP1" 
           class="bg-deepTeal text-white rounded-full h-[50px] w-fit px-6 flex items-center justify-center gap-x-1 hover:bg-deepTeal/90">
            {% translate "Buy Ticket on WhatsApp" %}
        </a>
        
        <p class="mt-6">
            {% blocktranslate %}
            For any questions about WhatsApp purchases, please contact our support team at:
            <a href="mailto:hello@djangocon.africa" class="underline">hello@djangocon.africa</a>
            {% endblocktranslate %}
        </p>
    </div>
</div>

{% endblock %}