{% extends "_base.html" %}
{% load tailwind_filters %}

{% load partials %}

{% partialdef form %}


{% if form.errors %}
<div id="proposal_form">

    <p class="mb-8 text-xl"> <i class="fas fa-times-circle text-error-500 mr-3"> </i>Please correct the errors below.
    </p>
    {% endif %}


    <form class="space-y-6" method="post">
        {% csrf_token %}
        {{ form | crispy}}
        <div>
            <button type="submit" id="proposal_form_button" class="button w-full">
                Create
            </button>
        </div>
    </form>

</div>

{% endpartialdef %}



{% block content %}

<h1 class="pb-5">Create new proposal</h1>

{% partial form %}

{% endblock content %}