@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: 'BebasNeue';
        src: url('/static/fonts/bebas-neue/BebasNeue-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'Archivo';
        src: url('/static/fonts/archivo/Archivo-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'Chivomono';
        src: url('/static/fonts/chivomono/ChivoMono-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
}

@layer components {
    h1 {
        @apply text-4xl font-bold text-gray-700
    }

    h2 {
        @apply text-3xl font-bold text-gray-600
    }

    h3 {
        @apply text-2xl font-bold text-gray-600
    }

    p {
        @apply text-lg text-gray-700
    }

    ul {
        @apply list-disc list-inside ml-6 space-y-2 text-lg text-gray-700
    }

    body {
        font-family: Chivomono, sans-serif;
    }

    table {
        @apply divide-y divide-gray-700
    }

    th {
        @apply px-6 py-3 text-left text-xs font-medium uppercase tracking-wider 
    }

    tbody {
        @apply  divide-y divide-gray-700
    }

    td {
        @apply px-6 py-4 whitespace-nowrap text-sm font-medium
    }

    .header_button {
        @apply hover:underline font-bold
    }

    .button {
        @apply bg-accentPurple text-white  no-underline p-3 cursor-pointer;
    }

    .button_secondary {
        @apply bg-accentYellow text-black no-underline p-3 cursor-pointer;
    }

}

.dj-container {
    @apply mx-auto max-w-[1360px] w-full px-4 sm:px-6 lg:px-8;
}