{% extends "_base.html" %}
{% load sponsors %}
{% load static %}
{% load partials %}
{% load i18n %}

{% block content %}
{% packages as all_packages %}

<div class="dj-container pt-[72px] md:pt-[88px] pb-16">
    <h1 class="text-center">{% translate "Our Sponsors" %}</h1>
    <div class="flex flex-col gap-y-8 md:max-w-[740px] mx-auto pt-10 lg:pt-8">
        <p>{% blocktranslate %}
            DjangoCon Africa is made possible by the generous support of our sponsors. We are thankful for their support
            and encourage you to learn more about them. We're grateful to them all!
            {% endblocktranslate %}
        </p>
        <div class="flex flex-col justify-center wrapper">

            {% for package in all_packages.packages %}
                {% if package.sponsors.exists %}
                    <h2 style="color: #b9563f">{{ package.name }}</h2>
                    <ul class="divide-y divide-gray-100 list-none">
                        {% for sponsor in package.sponsors.all %}
                            <li class="py-12 space-y-4">
                                <div class="flex flex-col gap-6 lg:flex-row lg:gap-16">
                                    <div class="items-center justify-center lg:flex lg:w-1/4">
                                        <a class="block w-full h-full" href="{{ sponsor.url }}" target="_blank">
                                            <span class="sr-only">{{ sponsor.name|upper }}</span>
                                            {% sponsor_tagged_image sponsor "main_logo" as logo_url %}
                                            {% if logo_url %}
                                                <img class="h-auto w-auto max-h-32 lg:max-h-32 lg:max-w-40" src="{{ logo_url }}" alt="{{ sponsor.name|upper }}">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="space-y-4 lg:flex-1">
                                        <h3 class="text-2xl lg:text-4xl underline">
                                            <a href="{{ sponsor.url }}">{{ sponsor.name|upper }}</a>
                                        </h3>
                                        <div class="space-y-6 prose lg:prose-lg">
                                            <p>{{ sponsor.description }}</p>
                                        </div>
                                        <br />
                                        {% if sponsor.hiring %}
                                            <a class="bg-transparent hover:bg-deepTeal text-blue-700 font-semibold hover:text-white py-2 px-4 border border-deepTeal hover:border-transparent rounded" href="{{ sponsor.hiring_url }}" target="_blank">We're Hiring.</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% empty %}
                No sponsors found.
            {% endfor %}

        </div>

    </div>
</div>
{% endblock %}