{% extends "_base.html" %}
{% load static %}
{% load i18n %}
{% load schedule_filters %}

{% block content %}
    {% get_all_speakers session as speakers %}
    <div class="bg-dotted-world-map-white bg-no-repeat bg-cover">
        <div class="dj-container pt-[72px] md:pt-[88px] pb-16">
            <h1 class="text-[48px] leaing-[56px] md:text-[96px] md:leading-[120px] tracking-[-2%] uppercase mb-6">
                {{ session.title }}
            </h1>

            <div class="flex items-center flex-col md:flex-row md:items-start gap-14">
                <div>
                    <div class="flex items-center flex-wrap gap-y-4 gap-x-4 mb-8">
            <span class="border px-4 py-2 text-base rounded-full">
              {{ session.conference_day.name }}
              <span class="text-gray-400">•</span>
              <span>{{ session.time_range }}</span>
            </span>
                        <span class="border px-4 py-2 text-base rounded-full">
              {{ session.room.name }}
            </span>
                        <span class="border px-4 py-2 text-base rounded-full">
              {{ session.track.name }}
            </span>
                    </div>

                    {% if session.abstract %}
                        <div class="mb-10">
                            <h2 class="text-2xl font-bold mb-4">
                                {% translate "Abstract" %}
                            </h2>
                            <p class="text-base leading-relaxed">
                                {{ session.abstract|linebreaks }}
                            </p>
                        </div>
                    {% endif %}

                    {% if session.description %}
                        <div>
                            <h2 class="text-2xl font-bold mb-4">
                                {% translate "Description" %}
                            </h2>
                            <p class="text-base leading-relaxed">
                                {{ session.description|linebreaks }}
                            </p>
                        </div>
                    {% endif %}
                </div>

                {% if speakers|length == 1 %}
                    {% single_speaker speakers.0 %}
                {% else %}
                    {% multiple_speaker speakers %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

